/* Basic Defaults */
body{
    position: relative;
}
p {
    padding: 0px;
    margin: 0px;
}
.row{
    margin: 0px;
}
.lock-scroll {
    overflow: hidden;
}
/*Removing active border on menu btn*/
.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover {
    border: none !important;
    outline: none !important;
}
/*Removing border for menu btn*/
#noBorder {
    border: none;
    color: none;
}
/*Brand logo*/
.navbar-brand {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 47px;
    color:gold !important;
    
    padding: 0px;
    margin-left: 195px;
}
.navbar-brand.scrolled {
    color: #333;
}
/* Navbar */
#navBar {
    transition: 750ms ease;
    background-color: transparent !important;
    padding: 3px;
}
#navBar.scrolled {
    background-color: #ffffffeb !important;
}
.navInput{
    padding: 0px;
    height: 25px;
}
/* login section */

.loginMainRow{
    position: fixed;
    right: 220px;
}
.navLoginBtn{
    position: absolute;
    top: 23.5px;
    padding: 0px 5px;
    height: 25px;
    font-size: 14px;
     
   
}

#loginBtn {
    font-weight: bold;
}
@media only screen and (max-width: 1256px) {
    .navbar-brand {
       
        font-size: 44px;
        margin-left: 202px;
    }
  }
  @media only screen and (max-width: 1244px) {
    .navbar-brand {
        
         font-size: 44px;
         margin-left: 142px;
     }
 
  }
  @media only screen and (max-width: 1127px) {
    .navbar-brand {
        font-size: 40px;
        margin-left:130px;
    }
    .loginMainRow{
        position: fixed;
        right: 150px;
    }
  }
  
  @media only screen and (max-width: 1026px) {
    .navbar-brand {
        font-size: 37px;
        margin-left:100px;
        margin-top: 10px;
    }
    .loginMainRow{
        position: fixed;
        right: 130px;
    }
  }
  @media only screen and (max-width: 976px) {
    .navbar-brand {
        font-size: 36px;
        margin-left:120px;
        margin-top: 10px
    }
    .loginMainRow{
        position: fixed;
        right: 100px;
    }
  }
  @media only screen and (max-width: 921px) {
    .navbar-brand {
        font-size: 32px;
        margin-left:100px;
        margin-top: 10px
    }
    .loginMainRow{
        position: fixed;
        right: 80px;
    }
  }
  @media only screen and (max-width: 864px) {
    .navbar-brand {
        font-size: 32px;
        margin-left:44px;
        margin-top: 10px
    }
    .loginMainRow{
        position: fixed;
        right: 50px;
    }
  }
  @media only screen and (max-width: 800px) {
    .navbar-brand {
        font-size: 32px;
        margin-left:39px;
        margin-top: 10px
    }
    .loginMainRow{
        position: fixed;
        right: 30px;
    }
  }
  @media only screen and (max-width: 755px) {
    .navbar-brand {
        width: 100% !important;
        text-align: center;
        margin: 0px;
        margin-top: 5px;
        font-size: 33px;
    }
    .loginMainRow{
        display: none;
    }
 
  }