/* Basic Defaults */
body{
    position: relative;
}
p {
    padding: 0px;
    margin: 0px;
}
.row{
    margin: 0px;
}
.lock-scroll {
    overflow: hidden;
}
/*Removing active border on menu btn*/
.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover {
    border: none !important;
    outline: none !important;
}
/*Removing border for menu btn*/
#noBorder {
    border: none;
    color: none;
}
/*Brand logo*/
.navbar-brand {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 44px;
    color:gold !important;
    
    padding: 0px;
    margin-left: 242px;
}
.navbar-brand.scrolled {
    color: #333;
}
/* Navbar */
#navBar {
    transition: 750ms ease;
    background-color: transparent !important;
    padding: 3px;
}
#navBar.scrolled {
    background-color: #ffffffeb !important;
}
.navInput{
    padding: 0px;
    height: 25px;
}
/* login section */

.loginMainRow{
    position: fixed;
    right: 170px;
}
.navLoginBtn{
    position: absolute;
    top: 23.5px;
    padding: 0px 5px;
    height: 25px;
    font-size: 14px;
     
   
}

#loginBtn {
    font-weight: bold;
}