.custom-control{
    
}

.testBackgroundColor {
    background-color: #003EFF;
}

label {
    margin: 0px;
}

/* Main Div */

.homeJumbo {
    padding-top: 27px;
}

.homeJumboMobil {
    display: none;
}

/* Quote on Home page Section */

.homeQuote {
    font-family: Montserrat;
    font-size: 20px;
}

.homeQuoteP {
    margin-top: 150px;
}
.homeQuoteFooter {
    font-size:30px !important;
        /* margin-top: 150px; */
        font-family: covered by your grace

}

/* Crate New Account Section */

.createAccountH1 {
    font-size: 45px;
    font-family: Covered By Your Grace;
}

.createAccountTopP {
    font-family: Montserrat;
}

.birthdaySelects {
    width: 60px;
    height: 30px;
    fontSize: 12px;
}

.birthdayAnchor {
    font-size: 10px;
}

.signUpPolicy {
    font-size: 11px;
    padding: 5px;
    color: #615f5f;
}

.signUpBtn {
    width: 160px;
    font-size: 23px;
    padding: 0px 4px;
    font-weight: bold;
    border: 1px solid darkgreen;
    background-image: linear-gradient(#71bd71, green);
    color: white;
}

/* Mobil Section */

.mobilDivInput {
    margin: 0px !important;
}

/* Media Queries */

@media only screen and (max-width: 1256px) {
    .createAccountH1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1244px) {
    .hideCol {
        display: none;
    }
}

@media only screen and (max-width: 1127px) {
    .createAccountH1 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 1026px) {
    .createAccountH1 {
        font-size: 30px;
    }
    .createAccountTopP {
        font-size: 15px;
    }
    .signUpBtn {
        width: 140px;
        font-size: 18px;
    }
    .homeQuote {
        font-size: 20px;
        padding: 0px;
    }
}

@media only screen and (max-width: 976px) {
    .createAccountH1 {
        font-size: 25px;
    }
    .createAccountTopP {
        font-size: 13px;
    }
}

@media only screen and (max-width: 800px) {
    .createAccountH1 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 755px) {
    body {
        overflow: hidden;
    }
    .homeJumbo {
        display: none;
    }
    .homeJumboMobil {
        display: block;
    }
    .xs-br {
        display: none;
    }
}